20231329 서원후 1차 프로그래밍 과제 코드

In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame #pandas 자료구조
import matplotlib.pyplot as plt

In [5]:
plt.rc("figure", figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
pd.options.display.max_columns = 20
pd.options.display.max_colwidth = 80 #아 데이터프레임을 위한 정보 저장
np.set_printoptions(precision=4, suppress=True)
plt.rcParams["font.family"] = 'Malgun Gothic' # 한글 폰트 변경 정보

In [6]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}
states = ["California", "Ohio", "Oregon", "Texas"] 
obj4 = pd.Series(sdata, index=states)

1번

In [8]:
print("연산 전의 obj4 의 값 :\n", obj4)
obj4_NaN = obj4.fillna(0) #fillna 대신에 na_rep 를 써도 될.... 될걸.... 잠깐... na_rep 어케쓴ㄴ거지 이건 또 csv ㄷㅔ이터에서만 해당되는 내용인듯....
# 출처: https://rfriend.tistory.com/262 [R, Python 분석과 프로그래밍의 친구 (by R Friend):티스토리]
print("\n연산 후의 obj4 의 값 : ")
obj4_NaN.add(1000)

연산 전의 obj4 의 값 :
 California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

연산 후의 obj4 의 값 :

California     1000.0
Ohio          36000.0
Oregon        17000.0
Texas         72000.0
dtype: float64

2번

In [10]:
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
sample.isin([89])
sample.isin([90, 89])

a     True
b     True
c    False
d    False
e     True
f    False
g    False
h    False
i    False
j     True
dtype: bool

3번 (sample은 2번에서 정의한 것을 사용한다)

In [12]:
result = 90 in sample.values  # sample 데이터에 90이 있는지 확인 후 값을 result에 저장
print(result)

True

4번 (sample은 2번에서 정의한 것을 사용한다)

In [14]:
result = "b" in sample.index
print(result)

True

### [problem] sample 데이터에서 80 이상 데이터을 선택하시오.
    sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

In [15]:
sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])
bool_index = sample >= 80
sample[bool_index]

a     89
b     90
e     90
f    100
j     90
dtype: int64

5번 (problem에서 정의한 sample을 사용한다)

In [18]:
average = sample.sum() / sample.count()
print(average)

underaverage_index = sample < average 
sample[underaverage_index]

77.5

d    65
h    55
i    40
dtype: int64

6번 (problem에서 정의한 sample을 사용한다)

In [19]:
bool_index = (sample >= 60) & (sample <= 80)
sample[bool_index]

c    78
d    65
g    78
dtype: int64

7번 2021, 2022, 2023년 3년간 대전, 대구, 부산, 광주, 원주의 5개 도시의 인구 수을 저장하는 데이터프레임 생성하기
data = {'서울': [950, 945, 938], 
    '대전': [800, 790, 780],
    '부산': [920, 910, 900],
    '광주': [700, 690, 680],
    '원주': [300, 290, 250]
   }

In [21]:
data = {'서울': [950, 945, 938], 
        '대전': [800, 790, 780],
        '부산': [920, 910, 900],
        '광주': [700, 690, 680],
        '원주': [300, 290, 250]
       }

frame = pd.DataFrame(data)
frame

    서울   대전   부산   광주   원주
0  950  800  920  700  300
1  945  790  910  690  290
2  938  780  900  680  250

8번 데이터프레임 frame2에 poplevel 컬럼을 추가하고, pop이 2.5 이상이면 "high", 2.5보다 작으면 "low"로 값을 저장하기

In [35]:
data = {"state": ["Ohio", "Ohio", "Ohio", "Nevada", "Nevada", "Nevada"],
        "year": [2000, 2001, 2002, 2001, 2002, 2003],
        "pop": [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame2 = pd.DataFrame(data, columns=["year", "state", "pop"])

val = pd.Series([-1.2, -1.5, -1.7],  index=["two", "four", "five"])
frame2["debt"] = val 
frame2["state"] == "Ohio" # 존재하지 않는 열을 대입할 경우에는 새로운 열이 생성
frame2["eastern"] = frame2["state"] == "Ohio" # 기존 컬럼에 조건 색인을 적용한 결과을 추가 #수업시간 동안 실습한 내용 적용

In [36]:
frame2['poplevel'] = frame2['pop'].apply(lambda x: 'high' if x >= 2.5 else 'low')

print(frame2)

   year   state  pop  debt  eastern poplevel
0  2000    Ohio  1.5   NaN     True      low
1  2001    Ohio  1.7   NaN     True      low
2  2002    Ohio  3.6   NaN     True     high
3  2001  Nevada  2.4   NaN    False      low
4  2002  Nevada  2.9   NaN    False     high
5  2003  Nevada  3.2   NaN    False     high